In [16]:
# In the Name of God

In [25]:
import numpy as np 
from sklearn.cluster import KMeans
import pandas as pd

In [18]:
df = pd.read_csv("Customer.csv")

In [19]:
df.drop("CustomerID", axis=1, inplace=True)

In [20]:
df.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)
0    Male   19                  15                      39
1    Male   21                  15                      81
2  Female   20                  16                       6
3  Female   23                  16                      77
4  Female   31                  17                      40

In [22]:
X = df[["Gender", "Age", "Annual Income (k$)", "Spending Score (1-100)"]].values

In [23]:
le = preprocessing.LabelEncoder()
le.fit(["Female", "Male"])
X[:,0] = le.transform(X[:,0])

In [29]:
clusterNum = 6
k_means = KMeans(init = "k-means++", n_clusters = clusterNum, n_init = 12)
k_means.fit(X)
labels = k_means.labels_